.product {
  width: 254px;
  cursor: pointer;
}

.productWrapper {
}
.productContent {
  margin-top: 9px;
  padding-left: 14px;
}
.productImage {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
}

.product .title {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #484848;
}

.product .filter {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.product .filter .info {
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  color: #484848;
}

.product .filter .info b {
  font-weight: bold;
}

.product .price {
  margin-top: 13px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;

  color: #000000;
}

.product .noDiscountPrice {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #9b9b9b;
}
.product .noDiscountPrice .line {
  text-decoration-line: line-through;
}

.product .noDiscountPrice .red {
  width: 32px;
  height: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #f90000;
  text-decoration-line: none;
}
