.selectbox {
  width: 120px;
  height: 48px;
  border: 1px solid #b4b4bb;
  box-sizing: border-box;
  border-radius: 4px;
}

select {
  position: absolute;
  width: 120px;
  height: 48px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 143%;
  /* or 24px */

  display: flex;
  align-items: center;
  /* text-align: center; */
  color: #b0b0b0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../../assets/arrowdown.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px);
  padding-left: 15px;
}
/* .select .option{
  width:160px;
  text-align: center;
} */
.select .option:selected::after {
}
.none {
  display: none;
}
