.container {
  font-family: Roboto;
  height: 1528px;

  background: #ffffff;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 31px 80px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
  height: 96px;
  left: 0px;
  top: 0px;
}

.content {
  /* padding: 31px 80px; */
}

.content .container {
  display: flex;
  padding: 17px 81px 0 80px;
}

.content .container .sidebar {
  display: flex;
  flex-direction: column;
}

.products {
  width: 1058px;
  height: 472px;
}

.pagination {
  width: 33px;
  height: 33px;
  padding: 0px 304px 298px 304px;
}
