.container {
  font-family: Roboto;
  background: #ffffff;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 31px 80px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
}

.content {
  /* padding: 31px 80px; */
}

.content .container{
  display: flex;
  padding: 17px 81px 0 80px; 
}

.content .container .sidebar{
  display: flex;
  flex-direction: column;
}

.content .container .products{
  
}