.search input {
  /* left: 445px;
  top: 24px; */
  width: 695px;
  height: 48px;
  background: #eeeeee;
  border-radius: 100px;
  border: none;
  text-indent: 56px;
  font-size: 15px;
  font-weight: normal;
}

label {
  position: relative;
}

.search label:before {
  content: "";
  background: url("../../assets/search.svg");
  position: absolute;
  left: 27px;
  top: 0;
  bottom: 0;
  width: 17.5px;
  height: 17.5px;
}

.alert{
  color:red;
  font-size: 16px;
  text-align: center;
}