.sidebar {
  width: 206px;
  margin-top: 34px;
}
.title {
  width: 62px;
  height: 21px;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #484848;
  margin-top: 24px;
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: bold;
}
.text {
  width: 206px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #646464;
}
.text:hover {
  width: 224px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ff6000;
}
