.pagination {
  text-align: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  
}
 .pagination ul {
  display: flex;
  justify-content: center;
  text-align: center;
  
} 
.item {
  width: 33px;
  height: 33px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 9px;
  margin-left: 13.2px;
  
}
.item:focus{
  border: 1px solid #ff6000;;
}